.idea
autom4te.cache
cmake-build-debug
m4
CMakeLists.txt
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
*.in
